/* stylesheet */
@font-face {
  font-family: 'jgs5';
  src: url("jgs5.ttf");
}

@font-face {
  font-family: 'jgs9';
  src: url("jgs9.ttf");
}

@font-face {
  font-family: 'jgs7';
  src: url("jgs7.ttf");
}
